<div class="container-fluid home">
  <div class="row logo">
    <div class="col">
      <img class="img-responsive" alt="Logo paleta" src="../assets/img/index_logo.png"/>
    </div>
  </div>
  <div class="container author-title">
      <div class="row">
          <div class="col">
              <h1>{{ title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2 class="text-uppercase">{{ author }}</h2>
          </div>
        </div>
  </div>
</div>