@import '../styles';

img {
    height: 256px;
}

header.home {
    padding-top: calc(6rem + 72px);
    padding-bottom: calc(6rem + 80px);
    background-image: url("../assets/img/index_bg.png");
    background-size: cover;
}
  
header.home h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: logoFont;
    padding-bottom: 2rem;
}
  
header.home h2 {
    font-size: 1.75rem;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

menu {
    margin-top: -20px;
}

@media (min-width: 992px) {
    header.home {
        padding-top: calc(6rem + 106px);
        padding-bottom: calc(6rem + 7px);
    }
    header.home h1 {
        font-size: 4.75em;
        line-height: 4rem;
    }
    header.home h2 {
        font-size: 3em;
    }
}